/* //////////////////////////////// */
/* color: #9775fa #b197fc #d0bfff #e5dbff #f3f0ff  */
/* color: #D3BAAD #D4AEB4 #E2D2CA #B68D77 */
/* color: #DABAB3 #EDDDD9 #F7F0EF*/
/* color: #B1D1E4 #F4D3E9 #DD2D67 */
/* //////////////////////////////// */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Serif Display', serif;
}

html {
  font-size: 62.5%;
  font-size: 0.9rem;
}

body {
  font-family: 'Rubik', sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
  transition: 2s;
}

.container {
  max-width: 120rem;
  padding: 0 6rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

.margin-bottom-sm {
  margin-bottom: 0.5rem !important;
}

.heading-secondary {
  font-size: 3rem;
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 5rem;
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
  padding: 0.5rem 0 2rem 0;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #9fe2bf;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #9fe2bf;
  border-bottom: 1px solid transparent;
}

.br-sm {
  display: none;
}
